Enrollment/studentenrollmentcourse/src/main/mule/CourseREG.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="CourseREGFlow" doc:id="4036b13a-3268-4614-ab81-f276b07911b9" >
		<logger level="INFO" doc:name="Logger" doc:id="749e7975-b3ab-4def-9153-27a4f7d510d0" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="e3612491-1df2-4952-b9c3-aa6ff656a431" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
