Enrollment/studentenrollmentcourse/src/main/mule/student-enrollment-course.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="student-enrollment-course-main">
        <http:listener config-ref="Global" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="student-enrollment-course-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <!-- [STUDIO:"student-enrollment-course-console"]    <flow name="student-enrollment-course-console">
        <http:listener config-ref="Global" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200&#93;">
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500&#93;">
                <http:body>#[payload&#93;</http:body>
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="student-enrollment-course-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{message: "Resource not found"}&#93;&#93;></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow> [STUDIO] -->
    <flow name="put:\student:application\json:student-enrollment-course-config">
        <logger level="INFO" doc:name="Logger" doc:id="e084769a-78cf-4899-bd2c-064ca3c523ab" message="#[payload]" />
        <flow-ref doc:name="Flow Reference" doc:id="159820f7-aa3a-4421-a7a8-967aafc29617" name="StudentREGFlow" />
        <ee:transform doc:name="Transform Message" doc:id="ec2fee11-9c4e-4a90-bcc2-21492c98aad3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	StudentName__c: payload.Name,
	Address__c: payload.Address,
	Number__c: payload.Number as Number
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <salesforce:upsert doc:name="Upsert" doc:id="bcf8897b-efab-45f4-bb14-c9121bafaa58" config-ref="Salesforce_Config" objectType="StudentData__c" externalIdFieldName="Id" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Sucessfully Enrolled"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\report\CID:student-enrollment-course-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  coursename: [
    {
      StudentName: [
        "viswanth", 
        "Nalini", 
        "Dutt"
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\report\SID:student-enrollment-course-config">
        <scheduler doc:name="Scheduler" doc:id="e2692b70-99ea-4e16-b2c0-89d06eef977e" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  StudentName: [
    {
      coursename: [
        "Mulesoft", 
        "Devops", 
        "PowerBI"
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2b0b8e14-7c14-4b07-acfe-25a59ad92027" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\course:student-enrollment-course-config">
        <salesforce:query doc:name="Query" doc:id="6cc212cf-459c-4fb4-ae84-e37071c695a2" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT CourseID__c, Coursename__c FROM Courses__c
LIMIT 200]]></salesforce:salesforce-query>
        </salesforce:query>
        <logger level="INFO" doc:name="Logger" doc:id="df4ed3fc-70b4-4adc-bdb2-b990c2a1be19" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA; courses: payload map (&#xA;    {&#xA;        CourseID: $.CourseID__c,&#xA;        Coursename: $.Coursename__c&#xA;    }&#xA;)&#xA;}]" />
        <ee:transform doc:name="Transform Message" doc:id="54d3d174-878a-4849-be9e-838daac5db75">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	courses: payload map (
    {
        CourseID: $.CourseID__c,
        Coursename: $.Coursename__c
    }
)
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="data"><![CDATA[%dw 2.0
output application/java
---
vars.data]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="put:\course:application\json:student-enrollment-course-config">
        <logger level="INFO" doc:name="Logger" doc:id="476bdd2d-cefa-4fe7-9f0d-74bbfe3be5c3" message="#[attributes.queryParam]"/>
		<flow-ref doc:name="Flow Reference" doc:id="b2c24cae-45ae-4a2b-821d-9b077498e9ac" name="CourseREGFlow"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Sucessfully Course Enrolled"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
